# The Site Configuration
theme: jekyll-theme-chirpy
lang: en
timezone:

# SEO Settings
title: Jaiane Soares
tagline: Engenheira de Software em formação
description: >-
  Um espaço dedicado à engenharia de software, artigos e textos reflexivos sobre tecnologia. Pegue seu café!

url: "https://jaiDev-bot.github.io"
github:
  username: jaiDev-bot
twitter:
  username: twitter_username

social:
  name: Jaiane de Barros Soares
  email: jaianebarros900@gmail.com
  links:
    - https://twitter.com/username
    - https://github.com/JaiDev-bot

# Avatar Settings
avatar: /assets/195297367.jpg # imagem

# URL Settings
baseurl: "" # Mantido vazio para o repositório principal

# Seguir as opções recomendadas abaixo
paginate: 10

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
